<!DOCTYPE html>
<html lang="en">
  <%- include('head_layout', {title: title}); %>
  <body>
    <header class="container d-flex justify-content-center my-4">
      <h1><%= title %></h1>
    </header>

    <main class="d-flex flex-column align-items-center">
      <div class="categoriesContainer mb-4">
        <ul class="list-group">
          <% categories.forEach(category => { %>
          <li class="list-group-item list-group-item-action">
            <a href="<%= category.url %>"><%= category.name %></a>
          </li>
          <% }) %>
        </ul>
      </div>
      <div>
        <p>No encuentra la categoria deseada, puede agregar una:</p>
        <a class="btn btn-primary" href="category/create">Agregar categoria</a>
      </div>
    </main>
  </body>
</html>
