<nav class="navigation">
  <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/catalog/categories">Categorias</a></li>
    <li><a href="/catalog/products">Productos</a></li>
    <li><a href="/management/users">Usuarios</a></li>
    <li><a href="/management/orders">Pedidos</a></li>
  </ul>
</nav>
