
.navigation ul{
  display: flex;
  list-style: none;
  gap: 20px;
  background-color: #b460bd;
  padding:10px 20px;
  width: 100vw;
}

.navigation a{
  text-decoration:underline;
  font-weight: 600;
  color: #2c182f;
}

.navigation li{
  transition: transform 0.5s ease-in-out;
}
.navigation li:hover{
  transform: scale(110%);
}
header{
  width: 100vw;
  background-color: #f7defa;  
  color: #171717;
}

main{
  background-color: #f7defa;
  padding: 20px !important;
}

.listItem{
  padding: 10px 20px;
  background-color: #b460bd;
  color: #fdf8fe;
  box-shadow: 0px 8px 5px -7px rgba(64,64,64,0.57);
  -webkit-box-shadow: 0px 8px 5px -7px rgba(64,64,64,0.57);
  -moz-box-shadow: 0px 8px 5px -7px rgba(64,64,64,0.57);
}

.listItem a{
  color: #fdf8fe;
  font-weight: 600;
}

.listItem:hover a{
  color: #5a305e;
  font-weight: 600;
}

body{
  background-color: #f7defa;
}
